.TitleName{
    color: #AB8D34;
    font-size:80px;
    text-align: center
}

.LeagueLogo{
    width: 450px; 
    margin-right: 20px;
}

.bg{
    background-color: black;
}

.searchName{
    margin: 4px 45px;
}
.buttonSearch {
    background-color: gray;
    border-color: #318CA5;
    border-width: 5px;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    
  }

