<html class = "bg-authentication">
    <head>
        <meta charset="UTF-8">
        <title class = "title"> Authentication </title>
        <h1 class = "title-text">RiftTracker</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">              
    </head>
    <body></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="words">Authentication</h1>
             </div></br></br></br>
            <h2 class="words">
                <form action="{{ url_for('authentication') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                  <h3> Scan this QR Code with Google Authenticator</h3>
                  <img src="{{qrimg}}">
                  <div class = "form">
                    <input id="otp_code" name="otp_code" type="text" class="textbox" autocomplete="off"/>
                    <label for = "otp_code" class = "label-name">
                      <span class = "content-name">OTP Code</span>
                    </label>
                    </br></br>
                </form>
            </h2>
          </div>
        </div>
    </body>
</html>