{% extends 'base.html' %}

{% block head %} 
<title>Rift Tracker</title>
{% endblock %}


{% block body %}

<body class = bgImg>
    <div class="content" position: relative>   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <h1 class = "TitleName">RiftTracker</h1>
        <div class="form">
            <div id = "inputWrapper">
                <form action="/" method="POST" autocomplete="off">
                    <input class= searchName type="text" placeholder="Summoner..." name="SummonerName">
                    <button class = buttonSearch type="submit"><img src="{{url_for('static', filename='search_icon.png')}}" width = "15"/></button>
                  </form>
            </div>
        </div>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
        <p class="bottom">Dont't have an account?  <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
    </div>
</body>


{% endblock %}