{% extends 'base.html' %}

{% block head %} 
<title>Rift Tracker</title>
{% endblock %}

{% block body %}
<body class = bg>
    <div class="content">   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <h1 class = "TitleName">LeagueStatTracker*(subject to change)</h1>
        <a href="/summoner/{{name}}">Search</a>
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input class = buttonSearch type="submit" value="FIND PLAYER">
            </form>
        </div>
        <img class = LeagueLogo src="{{url_for('static', filename='LeagueLogo.jpg')}}"/>
    </div>
</body>


{% endblock %}