<html = 'bg-profile'>
    <video autoplay muted loop id="bgVideo">
        <source src="/static/profile.webm" type="video/mp4">
    </video>
    <head>
        <meta charset="UTF-8">
        <title> Profile </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">                     
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Profile</h1>
             </div></br></br></br>
                <h1 class="bottom">
                     Hi {{username}}!!</br></br> Welcome to the Profile page...                 
                </h1></br></br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>
        </div>
    </body>
</html>