{% extends 'base2.html' %}

{% block head %}
<title>Rift Tracker</title>
{% endblock %}

{% block body %}
<body class = bg>
    <div class= webpage>   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/summoner.css') }}">
        <div>
            <img class = iconStyle src="{{profile_img}}">
            <h1 class = nameStyle >{{name}}</h1>
            <h1 class = levelStyle>{{level}}</h1>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Full Match Stats</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">{% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}</a>
        </div>
    </div>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
{% endfor %}
</body>
{% endblock %}