{% extends 'base.html' %}

{% block head %}
<title>Rift Tracker</title>
{% endblock %}

{% block body %}
<body class = bg>
    <div class= webpage>   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/summoner.css') }}">
        <div>
            <img class = iconStyle src="{{profile_img}}">
            <h1 class = nameStyle >{{name}}</h1>
            <h1 class = levelStyle>{{level}}</h1>
        </div>
    </div>
    {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</body>
{% endblock %}