<html class = "bg-authentication">
    <head>
        <meta charset="UTF-8">
        <title class = "title"> Authentication </title>
        <h1 class = "title-text">RiftTracker</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">              
    </head>
    <body></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="words">Authentication</h1>
             </div></br></br></br>
            <h2 class="words">
                <form action="{{ url_for('authentication') }}" method="post">
                  <div class="msg">{{ 'Scan this QR Code using Google Authenticator' }}</div>
                  <img src="{{qrimg}}">
                  <div class = "form">
                    </br></br>
                    <a class="words" href="{{url_for('login')}}"> Login here</a></p>
                </form>
            </h2>
          </div>
        </div>
    </body>
</html>