<!DOCTYPE html>
<html lang="en">
    <div>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/notfound.css') }}">
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <title>Rift Tracker</title>
        </head>
        <body>
            <body class = bg>
                <div class="content">   
                    <h1 class = "errorText">User not found, try again!</h1>
                    <h3 class = "bottomText">Please make sure you typed a known username and try again!</h3>
                    <div class="form">
                        <form action="/" method="POST" autocomplete="off">
                            <div class = 'box'>
                            <input class = searchName name="SummonerName" id="SummonerName">
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true" type="submit" ></i>
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </body>
        </body>
    </html>
</div>    

