<html class = "bg-register">
    <head>
        <meta charset="UTF-8">
        <title class = "title"> Register </title>
        <h1 class = "title-text">RiftTracker</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">              
    </head>
    <body></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Register</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                  <div class = "form">
                    <input id="username" name="username" type="text" class="textbox" autocomplete="off" required/>
                    <label for = "name" class = "label-name">
                      <span class = "content-name">Username</span>
                    </label>
                  </div>
                    </br></br>
                    <div class = "form">
                      <input id="SummonerName" name="SummonerName" type="text"  class="textbox" autocomplete="off" required/>
                      <label for = "SummonerName" class = "label-name">
                        <span class = "content-name2">Summoner Name</span>
                      </label>
                    </div>
                    </br></br>
                    <div class = "form">
                      <input id="password" name="password" type="password" class="textbox" autocomplete="off" required/>
                      <label for = "name" class = "label-name">
                        <span class = "content-name">Password</span>
                      </label>
                    </div>
                    </br></br>
                    <div class = "form">
                      <input id="email" name="email" type="text" class="textbox" autocomplete="off" required/>
                      <label for = "SummonerName" class = "label-name">
                        <span class = "content-name3">Valid Email-Address</span>
                      </label>
                    </div>
                    </br></br>
              
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
          </div>
        </div>
    </body>
</html>