<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summonerbase2.css') }}">

{% block head %}
<title>Rift Tracker</title>
{% endblock %}
</head>
<body>
{% block body %}
<body class = bg>
    <div class= webpage>   
        <link rel="stylesheet" href="{{ url_for('static', filename='css/summoner.css') }}">
        <div>
            <img class = iconStyle src="{{profile_img}}">
            <h1 class = nameStyle >{{name}}</h1>
            <h1 class = levelStyle>{{level}}</h1>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Match 1 Stats</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="Match 1">{% for table in tables0 %}
                        {{titles[loop.index]}}
                        {{ table|safe }}</a>
                        {% endfor %}        
        </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction1()" class="dropbtn">Match 2 Stats</button>
      <div id="myDropdown1" class="dropdown-content">
        <a href="Match 2">{% for table in tables1 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction2()" class="dropbtn">Match 3 Stats</button>
      <div id="myDropdown2" class="dropdown-content">
        <a href="Match 3">{% for table in tables2 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction3()" class="dropbtn">Match 4 Stats</button>
      <div id="myDropdown3" class="dropdown-content">
        <a href="Match 4">{% for table in tables3 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction4()" class="dropbtn">Match 5 Stats</button>
      <div id="myDropdown4" class="dropdown-content">
        <a href="Match 5">{% for table in tables4 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction5()" class="dropbtn">Match 6 Stats</button>
      <div id="myDropdown5" class="dropdown-content">
        <a href="Match 6">{% for table in tables5 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction6()" class="dropbtn">Match 7 Stats</button>
      <div id="myDropdown6" class="dropdown-content">
        <a href="Match 7">{% for table in tables6 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction7()" class="dropbtn">Match 8 Stats</button>
      <div id="myDropdown7" class="dropdown-content">
        <a href="Match 8">{% for table in tables7 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction8()" class="dropbtn">Match 9 Stats</button>
      <div id="myDropdown8" class="dropdown-content">
        <a href="Match 9">{% for table in tables8 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction9()" class="dropbtn">Match 10 Stats</button>
      <div id="myDropdown9" class="dropdown-content">
        <a href="Match 10">{% for table in tables9 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction10()" class="dropbtn">Match 11 Stats</button>
      <div id="myDropdown10" class="dropdown-content">
        <a href="Match 11">{% for table in tables10 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction11()" class="dropbtn">Match 12 Stats</button>
      <div id="myDropdown11" class="dropdown-content">
        <a href="Match 12">{% for table in tables11 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction12()" class="dropbtn">Match 13 Stats</button>
      <div id="myDropdown12" class="dropdown-content">
        <a href="Match 13">{% for table in tables12 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction13()" class="dropbtn">Match 14 Stats</button>
      <div id="myDropdown13" class="dropdown-content">
        <a href="Match 14">{% for table in tables13 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction14()" class="dropbtn">Match 15 Stats</button>
      <div id="myDropdown14" class="dropdown-content">
        <a href="Match 15">{% for table in tables14 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction15()" class="dropbtn">Match 16 Stats</button>
      <div id="myDropdown15" class="dropdown-content">
        <a href="Match 16">{% for table in tables15 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction16()" class="dropbtn">Match 17 Stats</button>
      <div id="myDropdown16" class="dropdown-content">
        <a href="Match 17">{% for table in tables16 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction17()" class="dropbtn">Match 18 Stats</button>
      <div id="myDropdown17" class="dropdown-content">
        <a href="Match 18">{% for table in tables17 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction18()" class="dropbtn">Match 19 Stats</button>
      <div id="myDropdown18" class="dropdown-content">
        <a href="Match 19">{% for table in tables18 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button onclick="myFunction19()" class="dropbtn">Match 20 Stats</button>
      <div id="myDropdown19" class="dropdown-content">
        <a href="Match 20">{% for table in tables19 %}
                      {{titles[loop.index]}}
                      {{ table|safe }}</a>
                      {% endfor %}        
      </div> 
    </div>
    <script class = "bg">
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        function myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        }
        function myFunction2() {
          document.getElementById("myDropdown2").classList.toggle("show");
        }
        function myFunction3() {
          document.getElementById("myDropdown3").classList.toggle("show");
        }
        function myFunction4() {
          document.getElementById("myDropdown4").classList.toggle("show");
        }
        function myFunction5() {
          document.getElementById("myDropdown5").classList.toggle("show");
        }
        function myFunction6() {
          document.getElementById("myDropdown6").classList.toggle("show");
        }
        function myFunction7() {
          document.getElementById("myDropdown7").classList.toggle("show");
        }
        function myFunction8() {
          document.getElementById("myDropdown8").classList.toggle("show");
        }
        function myFunction9() {
          document.getElementById("myDropdown9").classList.toggle("show");
        }
        function myFunction10() {
          document.getElementById("myDropdown10").classList.toggle("show");
        }
        function myFunction11() {
          document.getElementById("myDropdown11").classList.toggle("show");
        }
        function myFunction12() {
          document.getElementById("myDropdown12").classList.toggle("show");
        }
        function myFunction13() {
          document.getElementById("myDropdown13").classList.toggle("show");
        }
        function myFunction14() {
          document.getElementById("myDropdown14").classList.toggle("show");
        }
        function myFunction15() {
          document.getElementById("myDropdown15").classList.toggle("show");
        }
        function myFunction16() {
          document.getElementById("myDropdown16").classList.toggle("show");
        }
        function myFunction17() {
          document.getElementById("myDropdown17").classList.toggle("show");
        }
        function myFunction18() {
          document.getElementById("myDropdown18").classList.toggle("show");
        }
        function myFunction19() {
          document.getElementById("myDropdown19").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
      </script>
    </div>
</body>
{% endblock %}
</body>
</html>